<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="title_details">
      <div class="image_details">
        <img md-card-image src="../../assets/0766c5e8_original.jpg">
      </div>
      <div class="subtitle_details">
        <div class="md-card-and-name">
        <div>
          <img md-card-avatar src="../../assets/CROPPED-DSC_1861 copy.jpg">
        </div>
        <div class="namehost">Richard</div>
        </div>
        <div class="title_title_details">
          <div><h3><b>Single bedroom near Stratford</b></h3></div>
          <div><p>London, United Kingdom</p></div>
        </div>
      </div>
    </div>
    <hr class="separator"> 
    <div>
      <div>
        <div class="about">
          <div><h3><b>About this listing</b></h3></div>
          <br>
          <div>
            <p>We offer a single bedroom in our classic Victorian London terraced house built around 1900. 
              A spacious three story house close to shops, cafes, and public transport. 
              Ideal for anyone visiting London for a short time without breaking the bank.</p>
          </div>
        </div>
        <hr>
        <div class="main_description">
        <div  class="row">
          <div class="col-sm-3 col-md-3 title"><h4><b>The space</b></h4></div>
          <div class="col-sm-9 col-md-9">
            <div class="col-sm-6 col-md-6">
              <p>Accommodates</p>
              <p>Bathrooms</p>
              <p>Bedrooms</p>
            </div>
            <div class="col-sm-6 col-md-6">
              <p>Beds</p>
              <p>Pet Owner</p>
              <p>Property type</p>
              <p>Room type</p>
            </div>
          </div>
        </div>
        <hr>
        <div  class="row">
          <div class="col-sm-3 col-md-3 title"><h4><b>Amneties</b></h4></div>
          <div class="col-sm-9 col-md-9">
          <div class="col-sm-6 col-md-6">
              <p>Essentials Towels, bed sheets, soap, and toilet paper</p>
              <p>Wifi</p>
              <p>Shampoo</p>
              <p>Closetdrawers</p>
              <p>TV</p>
              <p>Heat</p>
          </div>
          <div class="col-sm-6 col-md-6">
              <p>Air conditioning</p>
              <p>Breakfast, coffee, tea</p>
              <p>Desk/workspace</p>
              <p>Fireplace</p>
              <p>Iron</p>
              <p>Hair dryer</p>
          </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div  class="col-sm-3 col-md-3 title"><h4><b>Description</b></h4></div>
          <div class="col-sm-9 col-md-9">
            <div class="thespace"><b>The Space</b></div>
            <div>
              <p>
                Located in old East London close to the 2012 Olympic park and stadium. I offer a modern and clean single loft room with free wifi and towels provided.

This room shares a bathroom with one other room on the same floor.

*Be aware there is no use of the kitchen with this booking and breakfast is not included*

My house is located in the residential area of Forest Gate; a ethnically diverse and now rapidly changing area of London. It is walking distance to Upton park tube station, Forest Gate train station and many bus stops to the city center. Supermarkets and places to eat are also a short walk.

The bedroom has a lockable door and you get your own set of keys.

Other Things to Note

*Sorry there is no use of the kitchen the price is for bedroom and bathroom only. However I am more than happy to make you a cup of tea on request.
*I supply clean towels and linen. Shampoo and shower gel are free to use in the bathroom.
*I supply a hair dryer
*Sorry there is no parking 
*Breakfast is not included. There are many local cafes within a few minutes walk.

Chick in is at 12pm and check out is at 11am. Let us know if you have a late flight and want to leave your bags with us as this may be possible (it may not depending on how we are placed for that day but we will do our best).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4 control-instant_book">
    <md-card class="demo-card demo-basic">
      <md-card-header class="sub-md-title">
          <div>50 £</div>
          <span class="fill-remaining-space"></span>
          <div class="pernight">Per night</div>
      </md-card-header>
      <md-card-content>
        <form>
        <div class="div_date_options">
          <ul class="date_options">
            <li class="date">
              <div><b>Check In</b></div>
              <div><input type="date" required class="form-control"></div>
            </li>
            <li class="date">
              <div><b>Check Out</b></div>
              <div><input type="date" required class="form-control"></div>
            </li>
            <li  class="date">
              <div><b>Guests</b></div>
              <div>
                <select name="" id="" class="form-control"><ul><li>1</li><li>2</li></ul></select>
              </div>
            </li>
          </ul>
        </div>
        <div class="global_details">
          <div class="details">
            <div>50 £ x 1 night</div>
            <span class="fill-remaining-space"></span>
            <div>50 £</div>
          </div>
          <hr class="selector_inst">
          <div  class="details">
            <div>Service fee <md-icon>help</md-icon></div>
            <span class="fill-remaining-space"></span>
            <div>6 £</div>
          </div>
          <hr class="selector_inst">
          <div  class="details">
            <div><b>Total</b></div>
            <span class="fill-remaining-space"></span>
            <div><b>56 £</b></div>
          </div>
        </div>
          <button md-raised-button color="primary" class="instant_book">Instant Book</button>
        </form>
      </md-card-content>
    </md-card>
    <br>
    <div class="report"><md-icon>error_outline</md-icon> Report this listing</div>
  </div>
</div>
<!--<h2>HEROES</h2>
  <div *ngIf="room">
    <h3>"{{room.name}}"</h3>
    <div>
      <label>Id: </label>{{room.id}}</div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="room.name" placeholder="name"/>
    </div>
    <p>
      <button md-button (click)="gotoDetail()">Back</button>
    </p>
</div>-->
</div>